export(checkRows)
export(checkRows.editmatrix)
export(checkRows.character)
export(checkRows.data.frame)
export(violatedEdits)
export(violatedEdits.character)
export(violatedEdits.editmatrix)
export(violatedEdits.data.frame)
export(listViolatedEdits)
export(editmatrix)
export(is.editmatrix)
export(as.editmatrix)
export(as.matrix.editmatrix)
export(as.data.frame.editmatrix)
export(print.editmatrix)
export(editrules, editsinfo)
export(getC)
export(getOps)
export(getVars)
