export(checkRows)
export(errorMatrix)
export(listErrors)
export(editmatrix)
export(is.editmatrix)
export(as.editmatrix)
export(as.matrix.editmatrix)
export(print.editmatrix)
export(editrules, editsinfo)
